//$primary: #FF94CB;
//$secondary: #807078;
//$success: #28A745;
//$info: #CC76A3;
//$warning: #FFC107;
//$danger: #ff0000;
//$light: #FFE0F0;
//$dark: #804A66;

@import "~bootswatch/dist/minty/variables";
@import '~bootstrap/scss/bootstrap.scss';
@import "~bootswatch/dist/minty/bootswatch";
@import '~bootstrap-vue/src/index.scss';


#chart_div {
  overflow-y: hidden;
  overflow-x: auto;
  cursor: all-scroll;
  .cell {
    @extend .card;
    text-align: center;
    position: relative;
    width: 8rem;
  }
  & .cell.self {
    @extend .bg-light;
  }
  & .myNodeClass > .cell {
  }
  & .mySelectedNodeClass > .cell {
    @extend .border-primary;
  }
  & .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.list-group-dl {
  @extend .mx-auto, .small, .my-3;
  max-width: 45rem;
  min-height: 15rem;
  li.list-group-item {
    @extend .d-flex, .justify-content-between, .align-items-center, .py-1;
    .title {}
    .text {
      font-family: 'Courier New', monospace;
    }
  }
}
