<div class="<%= account.accountAddress === selfAccount ? 'cell self' : 'cell' %>">
    <div class="text-break" title="address">
        <%= account.accountAddressPlain %>
    </div>
  <% if (account.cosignatoryAddresses && account.cosignatoryAddresses.length > 0) { %>
    <div>
      <%= account.minApproval %> of <%= account.cosignatoryAddresses.length %> multisig
    </div>
  <% } %>
</div>
